/* header {
	display: flex;
	margin-top: 40px;
	justify-content: space-around;
	border-bottom: 2px solid #e5e5e5;
}

.logo {
	width: 140px;
	margin: 8px;
}
.logo a {
	text-transform: capitalize;
	font-size: 25px;
}
.nav-wrapper {
	margin: 12px;
} */
